{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="gameView">
        <iframe id="game" width="300" height="230" src="https://users.aalto.fi/~oseppala/game/example_game.html">
        </iframe>
        <div class="media-body">
            <h5 class="mt-0">Test Game</h5>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                odio,
                vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                Donec
                lacinia congue felis in faucibus.</p>
            <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et
                magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
    </div>
</div>

{% endblock %}